<form action='/results' method='get'>
  <div class="form-group">
  <label for="userInput"></label>
  <input name="userInput" id="userInput">
  </div>
  <button type="submit" class="btn"></button>
</form>
